entrypoint = "src/main.py"
run = "poetry run python src/main.py"
modules = ["python-base-3.11"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = { args = ["poetry", "run", "python", "src/main.py"] }
deploymentTarget = "cloudrun"